Flask==0.9
Flask-Login==0.2.7
Flask-SQLAlchemy==0.16
Jinja2==2.7.1
MarkupSafe==0.18
SQLAlchemy==0.8.2
SQLAlchemy-Searchable==0.2.1
SQLAlchemy-Utils==0.16.9
WTForms==1.0.4
WTForms-Alchemy==0.7.15
WTForms-Components==0.7.0
Werkzeug==0.9.4
gunicorn==18.0
passlib==1.6.1
six==1.4.1
