<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    {% if edit %}
    <h1>Edit post</h1>
    {% else %}
    <h1>Add post</h1>
    {% endif %}
<div>
    <form action="" method="post" name="send post">
       
        <p>
            Title:<br>
            {{ form.title(class="col-md-12")}}<br>
            Content:<br>
            {{ form.text(class="col-md-12") }}<br>
            tags:<br>
            {{ form.tags(class="col-md-6") }}<br>
        </p>
        <p>
            <input type="submit" value="Send"/> 
        </p>
    </form>
</div>
{% if edit %}
    <p><a href="{{url_for('deletePost',post_id=edit)}}" class="btn btn-danger"> Delete post </a></p>
{% endif %}
{% endblock %}

