<!-- post base template -->
            <div>
              <a href="{{url_for('showPost', post_id=post.id)}}">
                <h3>{{post.title}}</h3>
              </a>
              <p>{{post.text[:(charLimit or None)]}}</p>
              <div id="postFooter">
                <p>{% for tag in post.tags %}
                        <span class="label label-success"><a href="{{url_for('showTag', query=tag.id)}}">{{tag.name}}</a></span>
                    {% endfor %}
                <br/>
                Published by {{post.author.nickname}}</p>

              </div>
              {% if (user.id == post.author.id) or (user.role == 1) %}
                    <a href="{{url_for('editPost', post_id=post.id)}}">
                        Edit post
                    </a>
              {% endif %}
           </div>
