<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Create user</h1>
<p>This template is for the creation of users, Only accesible for admins.</p>
<form action="" method="post" name="login">
   
    <p>
        <p>
        Please enter the Nickname:<br/>
        {{form.nickname(class="col-md-6")}}<br/>
        </p>
        <p>
        Password:<br/>
        {{form.password(class="col-md-6")}}<br/>
        </p>
        <p>
        Email:<br/>
        {{form.email(class="col-md-6")}}<br/>
        </p>
        <p>
        User will be admin?<br/> 
        {{form.role()}}
        </p>
    </p>
    <p><input type="submit" value="Create user"></p>
</form>
{% endblock %}