<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    {% if edit %}
    <h1>Edit post.</h1>
    {% else %}
    <h1>Create a new post.</h1>
    {% endif %}
<div class="col-md-12">
    <form action="" class="form-horizontal" role="form" method="post" name="send post">
        <div id="fields" class="form-group">
            <label for="title" class="control-label">Title:</label> <!--Refatorable rendering...-->
            {{ form.title(class="form-control")}}
            <label for="text" class="control-label">Content:</label>
            {{ form.text(class="form-control") }}
            <label for="tags" class="control-label">Tags:</label>
            {{ form.tags(class="form-control") }}
        </div>
        <div id="buttons" class="form-group">
            <input type="submit" class="btn btn-md btn-default" value="Send"/>
            <div class="pull-right">
                {% if edit %}
                <a href="{{url_for('delete_post',post_id=edit)}}" class="btn btn-danger text-right"> Delete post </a>
                {% endif %}
            </div>
        </div>
    </form>
</div>

{% endblock %}

