{% extends "base.html" %}
{% block jumbotron %}
 <div class="jumbotron">
              <div class="container">
                <h1>Blonkey blog.</h1>
                <p>This is a place for the description of the blog. You could talk about the kind of content, write a little biography about yourself. In fact, why don't I take advantage
                  of the situation and I talk about myself?...</p>
              </div>
            </div>
{% endblock%}
{% block content %}
  <h2>Lastests posts:</h2>           
  {% include "mod_iterate_posts.html" %}
{% endblock %}