<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    {% if edit %}
    <h1>Edit post</h1>
    {% else %}
    <h1>Add post</h1>
    {% endif %}
<div class="col-md-12">
    <form action="" class="form-horizontal" role="form" method="post" name="send post">
        <div class="form-group">
            <label for="title" class="control-label">Title:</label> <!--Refatorable render...-->
            {{ form.title(class="form-control col-md-12")}}
            <label for="text" class="control-label">Content:</label>
            {{ form.text(class="form-control col-md-12") }}
            <label for="tags" class="control-label">Tags:</label>
            {{ form.tags(class="form-control col-md-6") }}
            <input type="submit" value="Send"/> 
        </div>
    </form>
</div>
{% if edit %}
    <div class="text-right"><a href="{{url_for('delete_post',post_id=edit)}}" class="btn btn-danger"> Delete post </a></div>
{% endif %}
{% endblock %}

