{% extends "base.html" %}
    {% block content %}
        <h1>Hi, {{user.nickname}}!</h1>
        {% for post in posts.items %}
            <div><p>{{post.author.nickname}} says: <b>{{post.text[:100]}}</b></p></div>
        {% endfor %}
        <!-- Pagination -->
  <div class=pagination>
  {%- for page in posts.iter_pages() %}
    {% if page %}
      {% if page != posts.page %}
        <a href="{{ url_for('index', page=page) }}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  </div>
{% endblock %}