<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<script type=text/javascript>
  $(function() {
   // $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $("#submitAdd").click(function(event) {
        event.preventDefault();
        event.stopPropagation();
        if ($('input[id="name"]').val() != "")
            $.post('/tags/add',$('input[id="name"]').serialize(), function(data) {
                addToTagsList(data);
              });   
    });
  });
</script>

<script>
  //Functions
    function deleteTag(object){
    //Gets a button object as parameter and check the ID of the parent
    //which is the same than the ID of the object to delete
        tag_id = object.parentNode.id
        $.getJSON('/tags/del', {
            id: tag_id,
          }, function(data) {
                console.log("Tag has been deleted")
          });
    }

    function addToTagsList(tag){
        $("#tags").append($('<span></span>')
                                        .attr("id",tag.id)
                                        .attr("class","tag col-md-3 col-md-offset-1 label label-success")
                                        .css("margin-top", "10")
                                        .css("font-size", "16")
                            .html('<button type="button" class="close" data-dismiss="alert" onclick="deleteTag(this)">&times;</button>')
                            .append('<a href=/tags/'+tag.id+' class="label"><strong>'+tag.name+'</strong></a>'))    
                                
    }
</script>

<h1>Manage Tags</h1>
    <p>Tag name:
        <br/>
        <form action="" id="addForm" method="post" class="">
                    {{form.name(size=32)}}
                    <input id="submitAdd" type="submit" value="Add Tag">
        </form>
        <br/>
    </p>


<h2>Available Tags</h2>
    <div id="tags">
     
    </div>

    {% for tag in tags %}
        <script>
            tag= new Object();
            tag.id = "{{tag.id}}" ;
            tag.name = "{{tag.name}}" ;
            addToTagsList(tag);
        </script>
    {% endfor %}

{% endblock %}