<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Create user</h1>
<p>This template is for the creation of users, Only accesible for admins.</p>
<form action="" method="post" name="login">
   
    <p>
        Please enter the Nickname:<br>
        {{form.nickname(size=80)}}<br>
        Password:<br>
        {{form.password(size=100)}}<br>
        Email:<br>
        {{form.email(size=80)}}<br>
        User will be admin?<br> 
        {{form.role()}}
    </p>
    <p><input type="submit" value="Create user"></p>
</form>
{% endblock %}