<!--This template show a list of posts, it recive list of posts in a paginate object -->       
<div class="container col-md-10 col-md-offset-1"> 
 {% for post in posts.items %}
            {% include "basePost.html" %}
            <hr/>
  {% endfor %}
 <!-- Pagination -->
  <div class="pagination">
    <ul class="pagination">
    {%- for page in posts.iter_pages() %}
      {% if page %}
        {% if page != posts.page %}
          {% if query %}
            <li><a href="{{ url_for(endpoint, page=page, query=query) }}">{{ page }}</a></li>
          {% else %}
            <li><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
          {% endif %}
        {% else %}
          {% if query %}
            <li><a href="{{ url_for(endpoint, page=page, query=query) }}"><strong>{{ page }}</strong></a></li>
          {% else %}
            <li><a href="{{ url_for(endpoint, page=page) }}"><strong>{{ page }}</strong></a></li>
          {% endif %}  
        {% endif %}
      {% else %}
        <span class="ellipsis">…</span>
      {% endif %}
    {%- endfor %}
    </ul>
  </div>
</div>