{% extends "base.html" %}
{% block content %}
        <h1>Post with the tag {{tag.name}}:</h1>
        {% if user.role == 1 %}
            <a href="{{url_for('editTag',tag_id=tag.id)}}" class="btn btn-danger"> Edit tag name </a>
        {% endif %}
        {% include "showposts.html" %}
        <!-- Pagination -->
  <div class=pagination>
  {%- for page in posts.iter_pages() %}
    {% if page %}
      {% if page != posts.page %}
        <a href="{{ url_for('showTag', tag_id=tag.id, page=page) }}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  </div>
        
{% endblock %}